fastapi
uvicorn
python-multipart
python-dotenv
pydantic
pydantic-settings

langchain
langchain-core
langchain-groq
langchain-huggingface

sentence-transformers
torch

pymupdf
pillow
paddlepaddle
paddleocr
opencv-python
numpy